<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <php>
    <ini name="display_errors" value="on"/>
  </php>
  <testsuites>
    <testsuite name="MojeOlomouc Tests Suite">
      <directory>tests</directory>
      <exclude>tests/Salamek/Tests/MojeOlomouc/BaseTest.php</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
